[Desktop Entry]
Name=Thunar File Manager
Name[tr]=Thunar Dosya Yöneticisi
Comment=Browse the filesystem with the file manager
Comment[tr]=Dosya yöneticisi ile gezin
GenericName=File Manager
GenericName[tr]=Dosya Yöneticisi
Exec=thunar %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
