favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-web-browser.desktop,pamac-manager.desktop
button-icon=distributor-logo-manjaro
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
menu-width=400
menu-height=519
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=manjaro-settings-manager-gui
show-command-profile=true
