[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manjaro/installer-launcher-cli.desktop]
row=2
col=0

[/home/manjaro/calamares.desktop]
row=3
col=0

[/home/manjaro/thus.desktop]
row=0
col=1

[Çöp]
row=0
col=0

[/home/manjaro]
row=1
col=0

