[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manjaro/Desktop/hexchat.desktop]
row=2
col=0

[/home/manjaro/Desktop/calamares.desktop]
row=4
col=0

[/home/manjaro/Desktop/installer-launcher-cli.desktop]
row=3
col=0

[/home/manjaro/Desktop/thus.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/home/manjaro]
row=1
col=0

